main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 20px;
}

.frame {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    direction: rtl;
}

.text {
    flex: 1;
    padding: 0 10px;
    max-width: 50%;
    text-align: right;
}

.room-image {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin-left: 60x;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.text p {
    font-size: 18px;
    text-align: right;
    max-width: 600px;
    margin: 0;
}

.text h1 {
    font-size: 40px;
    color: #290A6A;
    text-align: right;
    max-width: 600px;
}

.text h2 {
    font-size: 20px;
    color:black;
    text-align: right;
    max-width: 600px;
}

.text h3 {
    font-size: 25px;
    color: #290A6A;
    text-align: right;
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .frame {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .text {
        font-size: clamp(12px, 3vw, 18px);
        text-align: center;
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }

    .room-image {
        max-width: 80%;
        height: auto;
        margin: 10px 0;
    }

}