body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 246, 231);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}

header img {
    width: 90px;
    height: auto;
}

header .buttons {
    display: flex;
    gap: 5px;
    margin-right: 0px;
}

header .buttons a {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header .buttons img {
    width: 25px;
    height: auto;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    font-size:16px;

}

nav ul li a {
    text-decoration: none;
    color: #290A6A;
    font-weight: bold;
}

footer {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: auto;
    text-align: center;
}

footer p {
    font-size: 15px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
}

.user-settings-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #290A6A;
    margin-bottom: 20px;
    direction: rtl;
}

.user-settings-title .settings-icon {
    width: 24px;
    height: 24px;
}

.user-details-form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 20px 30px;
    justify-self: center;
    width: 70%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
}

.form-group label {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    text-align: right;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0 20px;
    flex-wrap: wrap;
    position: relative;
}

.checkbox-group .error {
    flex-basis: 100%;
    text-align: center;
    color: red;
    font-size: 14px;
}

.checkbox-group label {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.submit-button {
    background-color: #290A6A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Calibri', sans-serif;
}

.submit-button:hover {
    background-color: #3d238e;
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader::before {
    content: '';
    width: 40px;
    height: 40px;
    border: 5px solid #290A6A;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 860px) {
    nav ul li {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header > a,
    header > nav {
        margin-bottom: 5px;
    }

    header img {
        width: 80px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        white-space:nowrap;
    }

    nav ul li {
        margin: 0 10px;
        text-align: center;
    }

   header .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-right: 0px;
    }

    header .buttons a {
        font-size: 14px;
        text-align: center;
    }
}
