body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 246, 231);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}

header img {
    width: 90px;
    height: auto;
}

header .buttons {
    display: flex;
    gap: 5px;
    margin-right: 0px;
}

header .buttons a {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header .buttons img {
    width: 25px;
    height: auto;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    font-size:16px;

}

nav ul li a {
    text-decoration: none;
    color: #290A6A;
    font-weight: bold;
}

footer {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: auto;
    text-align: center;
}

footer p {
    font-size: 15px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
}

#personal-title {
    text-align: center;
    color: #290A6A;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 10px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
}

.personal-details {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.personal-details h3 {
    margin: 0;
    color: #290A6A;
    font-size: 20px;
    font-weight: bold;
}

.personal-details p {
    margin: 10px 0 0;
    color: #555;
    font-size: 14px;
}

.personal-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.personal-links li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.personal-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #290A6A;
    font-size: 18px;
    font-weight: bold;
}

.personal-links li:hover {
    background-color: #f8f8f8;
}

.personal-links img {
    width: 24px;
    height: 24px;
    margin: 0px;
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader::before {
    content: '';
    width: 40px;
    height: 40px;
    border: 5px solid #290A6A;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 860px) {
    nav ul li {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header > a,
    header > nav {
        margin-bottom: 5px;
    }

    header img {
        width: 80px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        white-space:nowrap;
    }

    nav ul li {
        margin: 0 10px;
        text-align: center;
    }

   header .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-right: 0px;
    }

    header .buttons a {
        font-size: 14px;
        text-align: center;
    }
}


