main {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
}

#personal-title {
    text-align: center;
    color: #290A6A;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 10px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
}

.personal-details {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.personal-details h3 {
    margin: 0;
    color: #290A6A;
    font-size: 20px;
    font-weight: bold;
}

.personal-details p {
    margin: 10px 0 0;
    color: #555;
    font-size: 14px;
}

.personal-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.personal-links li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.personal-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #290A6A;
    font-size: 18px;
    font-weight: bold;
}

.personal-links li:hover {
    background-color: #f8f8f8;
}

.personal-links img {
    width: 24px;
    height: 24px;
    margin: 0;
}