<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHome - דירות בבאר שבע</title>
    <link rel="stylesheet" href="../static/styles/about.css">
</head>
<body>
    <header>
        <a href="UniHome.html"><img src="../static/pictures/logo.png" alt="לוגו UniHome"></a>
        <nav>
            <ul>
                <li><a href="UniHome.html">דף הבית</a></li> |
                <li><a href="search_page.html">חיפוש דירה</a></li> |
                <li><a href="upload_an_ad.html">פרסום דירה</a></li> |
                <li><a href="about.html">קצת עלינו</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <a href="favorites.html"><img src="../static/pictures/heart.png" alt="לוגו לב"></a>
            <a href="login.html"><img src="../static/pictures/login.png" alt="לוגו משתמש"></a>
        </div>
    </header>
     <main>
        <div class="frame">
             <div class="text">
                <h1>קצת על UniHome</h1>
                 <p>ב-UniHome אנו שמים לנגד עיננו מטרה אחת:</p>
                 <p>להפוך את חיפוש הדירה בבאר שבע לחוויה פשוטה ויעילה לסטודנטים</p>
                 <br>
                 <p>עם מאגר מרכזי של דירות להשכרה, האתר שלנו מאפשר לך לפרסם ולחפש דירות בקלות, ללא הצורך לדפדף בין עשרות קבוצות פייסבוק ואתרים אחרים.</p>
                 <br>
                 <p>מצא את דירתך הבאה עם סינון מתקדם ושמור על האפשרויות המועדפות עליך בקליק אחד.</p>
                 <h2>אז למה אתם מחכים?</h2>
                 <h3>צאו לדרך!</h3>
             </div>
            <img src="../static/pictures/room.png" alt="תמונה של חדר" class="room-image">
        </div>
    </main>
    <footer>
        <p>© UniHome - כל הזכויות שמורות</p>
    </footer>
</body>
</html>

