<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHome - דירות בבאר שבע</title>
    <link rel="stylesheet" href="../static/styles/contact_form.css">
    <link rel="stylesheet" href="../static/styles/errors.css">

</head>
<body>
    <header>
        <a href="UniHome.html"><img src="../static/pictures/logo.png" alt="לוגו UniHome"></a>
        <nav>
            <ul>
                <li><a href="UniHome.html">דף הבית</a></li> |
                <li><a href="search_page.html">חיפוש דירה</a></li> |
                <li><a href="upload_an_ad.html">פרסום דירה</a></li> |
                <li><a href="about.html">קצת עלינו</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <a href="favorites.html"><img src="../static/pictures/heart.png" alt="לוגו לב"></a>
            <a href="user_area.html"><img src="../static/pictures/logged_in.png" alt="לוגו מחובר"></a>
        </div>
    </header>
    <main>
      <h1 class="contact-form-title">
          <img src="../static/pictures/edit-icon.png" alt="אייקון כתיבה" class="edit-icon">
          <span>יצירת קשר עם המשכיר</span>
      </h1>
        <!-- It's POST method because it's long content and no need to be inserted to URL -->
        <form class="contact-form" action="" method="POST">
        <h3>השאירו פרטים לקבלת מידע נוסף לגבי הדירה</h3>
          <div class="form-group">
              <label>שם מלא</label>
              <input type="text" id="fullName" required>
          </div>
          <div class="form-group">
              <label>מייל</label>
              <input type="email" id="email" required>
          </div>
          <div class="form-group">
              <label>מס' טלפון</label>
              <input type="tel" id="phone" required>
          </div>
          <div class="form-group">
              <label>הודעה למשכיר הדירה:</label>
              <textarea id="description" name="description" rows="5" cols="50"></textarea>
          </div>
          <button type="submit" class="submit-button">שליחה</button>
      </form>

        <div id="loader"></div>
        <script src="../static/scripts/loader.js"></script>
        <script src="../static/scripts/contact_validation.js" defer></script>
    </main>
    <footer>
        <p>© UniHome - כל הזכויות שמורות</p>
    </footer>

</body>
</html>
