<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHome - דירות בבאר שבע</title>
    <link rel="stylesheet" href="../static/styles/register_verif.css">
</head>
<body>
    <header>
        <a href="UniHome.html"><img src="../static/pictures/logo.png" alt="לוגו UniHome"></a>
        <nav>
            <ul>
                <li><a href="UniHome.html">דף הבית</a></li> |
                <li><a href="search_page.html">חיפוש דירה</a></li> |
                <li><a href="upload_an_ad.html">פרסום דירה</a></li> |
                <li><a href="about.html">קצת עלינו</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <a href="favorites.html"><img src="../static/pictures/heart.png" alt="לוגו לב"></a>
            <a href="user_area.html"><img src="../static/pictures/logged_in.png" alt="לוגו מחובר"></a>
        </div>
    </header>
    <main>
        <div class="register-verification-container">
            <div class="verification-box">
                <img src="../static/pictures/register_verif.png" alt="אייקון אימות" class="verification-icon">
                <h1>נרשמת בהצלחה לאתר!</h1>
                <p>עברו בבקשה להזין את פרטיכם האישיים.</p>
                <a href="user_setup.html" class="button">הזנת פרטים אישיים</a>
            </div>
        </div>
        <div id="loader"></div>
        <script src="../static/scripts/loader.js"></script>
    </main>
    <footer>
        <p>© UniHome - כל הזכויות שמורות</p>
    </footer>
</body>
</html>
