main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 20px;
}

h2 {
    color: #290A6A;
    text-align: center;
    margin-bottom: 10px;
    font-size: 45px;
}

main p {
    color: #333;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-size: 20px;
}

.text {
    flex: 1;
    text-align: right;
    max-width: 50%;
    margin-right: 0;
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.homepage-image {
    flex: 1;
    max-width: 45%;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}
.homepage-image:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.login_btn {
    display: block;
    margin: 40px auto 0;
    padding: 10px 20px;
    background-color: #290A6A;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    width: 100px;
    flex-wrap: wrap;
}

.login_btn:hover {
    background-color: #3c1594;
    cursor: pointer;
}

.marquee {
    background-color: White;
    color: black;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee span {
    display: inline-block;
    animation: marquee 60s linear infinite;
    padding-right: 100%;
    white-space: pre;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
 }

@media screen and (max-width: 900px) {

    h2 {
    font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .frame {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .text {
        text-align: center;
        max-width: 100%;
        margin-right: 0;
        font-size: 18px;
    }

    .homepage-image {
        max-width: 80%;
        margin-top: 10px;
        margin-left: 0px;

    }

    .login_btn {
        font-size: 14px;
        width: 30%;
    }
    h2 {
        font-size: 35px;
    }
}