header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
    direction: rtl;
}

header img {
    width: 90px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li {
    margin: 0 10px;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #290A6A;
    font-weight: bold;
}

header .buttons {
    display: flex;
    gap: 5px;
    margin-right: 0px;
}

header .buttons a {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header .buttons img {
    width: 25px;
    height: auto;
    margin: 5px;
}

@media screen and (max-width: 860px) {
    nav ul li {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header > a,
    header > nav {
        margin-bottom: 5px;
    }

    header img {
        width: 80px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        white-space:nowrap;

    }

    nav ul li {
        margin: 0 10px;
        text-align: center;
    }

   header .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-right: 0px;
    }

    header .buttons a {
        font-size: 14px;
        text-align: center;
    }

}